body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
	background-color:rgb(9,11,10);
}

.container {
	display:flex;
	flex-wrap:wrap;
}

.w1of1 {
	width:100%;
}

.w1of2 {
	width:50%;
}

.w1of4 {
	width:25%;
}

.w2of4 {
	width:50%;
}

.w3of4 {
	width:75%;
}

.w4of4 {
	width:100%;
}

.w1of3 {
	width:33.33%;
}

.w2of3 {
	width:66.66%;
}

.w3of3 {
	width:100%;
}

.item {

}

.item img {
	width:100%;
}

.menu {
	width:50px;
	height:50px;
	border-radius:100%;
	background-color:rgb(170,86,37);
	position:fixed;
	left:1290px;
	top:20px;
	cursor:pointer;
}

.menu img {
	width:40px;
	height:35px;
	padding-left:13px;
	padding-top:13px;
	padding-right:3px;
}

.menu:hover {
	text-shadow:2px 3px 5px white;
}

.header {
	background-image:url(images/marscover.png);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:left;
	font-family:Arial, san-serif;
	font-weight:bold;
	font-size:120px;
	color:white;
	position:center;
	text-align:center;
	padding-top:300px;
	padding-bottom:300px;
}

/*start s1*/

.one {
	font-family:Arial, san-serif;
	font-weight:bold;
	font-size:54px;
	color:white;
	position:left;
	padding-left:30px;
	padding-top:100px;
}

.onesub {
	font-family:Arial, san-serif;
	font-weight:bold;
	font-size:20px;
	color:white;
	position:left;
	padding-left:100px;
	padding-top:10px;
}

.sliding {

}

.earth {
	padding-top:80px;
	padding-bottom:100px;
	cursor:pointer;
}

.earth img {
	width:300px;
	height:300px;
}

.rocket {
	padding-top:80px;
	padding-bottom:100px;
	cursor:pointer;
}

.rocket img {
	width:300px;
	height:300px;
}

.mars {
	padding-top:80px;
	padding-bottom:100px;
	cursor:pointer;
}

.mars img {
	width:300px;
	height:300px;
}

.population {
	font-family:Arial, san-serif;
	font-weight:bold;
	font-size:20px;
	color:white;
	text-align:center;
	padding-left:100px;
	padding-top:10px;
	display:none;
}

.distance {
	font-family:Arial, san-serif;
	font-weight:bold;
	font-size:20px;
	color:white;
	text-align:center;
	padding-left:100px;
	padding-top:10px;
	display:none;
}

.life {
	font-family:Arial, san-serif;
	font-weight:bold;
	font-size:20px;
	color:white;
	text-align:center;
	padding-left:100px;
	padding-top:10px;
	display:none;
}

/*end s1*/

/*start s2*/

.two {
	font-family:Arial, san-serif;
	font-weight:bold;
	font-size:54px;
	color:white;
	position:left;
	padding-left:30px;
	padding-top:100px;
}

.twosub {
	font-family:Arial, san-serif;
	font-weight:bold;
	font-size:20px;
	color:white;
	position:left;
	padding-left:100px;
	padding-top:10px;
}

.twovideo {
	background-color:rgb(170,86,37);
	margin:100px;
	font-family:Arial, san-serif;
	font-weight:bold;
	font-size:20px;
	color:white;
	padding-top:80px;
	padding-bottom:80px;
	text-align:center;
	display:block;
}

.toggle {
	font-family:Arial, san-serif;
	font-weight:bold;
	font-size:54px;
	color:white;
	position:center;
	text-align:center;
	align-content:center;
	display:block;
	cursor:pointer;
}

.quote {
	font-family:Arial, san-serif;
	font-weight:bold;
	font-size:20px;
	text-transform:uppercase;
	color:white;
	position:center;
	display:none;
	background-image:url(images/mission.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	width:840px;
	height:472.5px;
	padding-top:100px;
	padding-left:100px;
	padding-right:100px;
	padding-bottom:80px;
	text-align:center;
	text-shadow:1px 1px 4px black;
}

.quote h1 {
	font-family:Arial, san-serif;
	font-weight:bold;
	font-size:25px;
	text-transform:uppercase;
	color:white;
	position:center;
	display:block;
	text-shadow:1px 1px 4px black;
	padding-top:50px;
}

/*end s2*/

/*start s3*/

.three {
	font-family:Arial, san-serif;
	font-weight:bold;
	font-size:54px;
	color:white;
	position:left;
	padding-left:30px;
	padding-top:100px;
}

.threesub {
	font-family:Arial, san-serif;
	font-weight:bold;
	font-size:20px;
	color:white;
	position:left;
	padding-left:100px;
	padding-top:10px;
}

.threelinks img {
	padding-top:80px;
	padding-bottom:80px;
	display:block;
}

.alien {
	background-image:url(images/alien.png);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	width:1128px;
	height:1491px;
}

/*end s3*/

/*start s4*/





